Diglipur, Kalighat

In [2]:
url = "https://egramswaraj.gov.in/webservice/approvedActionPlanExternalReport/234466/2024-2025"

In [3]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\ayan1\anaconda3\lib\site-packages (4.12.2)Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

Requirement already satisfied: soupsieve>1.2 in c:\users\ayan1\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)

In [4]:
pip install requests

Requirement already satisfied: requests in c:\users\ayan1\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [5]:
import pandas as pd
import requests
import certifi
from bs4 import BeautifulSoup


req = requests.get(url, verify=certifi.where())

soup = BeautifulSoup(req.text,"lxml")

table = soup.find("table",class_="table table-striped table-bordered table-hover w-100")
headers = table.find("tr")

titles = [i.text.strip() for i in headers if i.text.strip() != '']

# Extract table rows
rows = table.find_all("tr", class_="tblRowB")

# Assuming there are multiple rows, we need to iterate over them
inputs = []
for row in rows:
    cells = row.find_all("th")
    input_row = [cell.text.strip() for cell in cells if cell.text.strip() != '']
    if input_row:  # Only append if the row is not empty
        inputs.append(input_row)
        
heading = soup.find("h3",class_="mainHeading heading_black collapsingdiv collapsingdiv-1 showing cursor-pointer mx-auto")
print(heading.text.strip())


# Create the DataFrame
table_0 = pd.DataFrame(data=inputs, columns=titles)
table_0

Approved Action Plan Report

,Plan Year,State,District Panchayat & Equivalent,Block Panchayat and Equivalent,Village Panchayat and Equivalent
0,2024-2025,Andaman And Nicobar Islands,North And Middle Andaman,Diglipur,Kalighat

In [6]:
print("SECTION 1 : Plan Summary")

column_tuples_1 = [
    ('Total Amount Allotted (In Rs.)', 'Tied', 'SC'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'ST'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'General'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'Total'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'SC'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'ST'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'General'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'Total'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'SC'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'ST'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'General'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'Total'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'SC'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'ST'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'General'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'Total'),
]

columns = pd.MultiIndex.from_tuples(column_tuples_1)


table = soup.find_all("table",class_="table table-bordered table-striped table-hover")

rows = table[0].find_all("tr")

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells]  # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)

# Create the DataFrame with the extracted data and MultiIndex columns
table_1 = pd.DataFrame(data, columns=columns)


table_1

SECTION 1 : Plan Summary

  Total Amount Allotted (In Rs.)                                             \
                            Tied                        Untied
                              SC ST   General     Total     SC ST   General
0                              0  0  52742636  52742636      0  0  22421600

            Total Planned Outlay (In Rs.)                                   \
                                     Tied                        Untied
      Total                            SC ST   General     Total     SC ST
0  22421600                             0  0  52742636  52742636      0  0



    General     Total
0  22421600  22421600

In [7]:
print("SECTION 2 : Sectoral View")


column_tuples_2 = [
    ('','','','Sl. No.'),
    ('','','','Sector'),
    ('Planned outlay','Scheme', 'Tied', 'SC'),
    ('Planned outlay','Scheme', 'Tied', 'ST'),
    ('Planned outlay','Scheme', 'Tied', 'General'),
    ('Planned outlay','Scheme', 'Tied', 'Total'),
    ('Planned outlay','Scheme', 'Untied', 'SC'),
    ('Planned outlay','Scheme', 'Untied', 'ST'),
    ('Planned outlay','Scheme', 'Untied', 'General'),
    ('Planned outlay','Scheme', 'Untied', 'Total')
]

columns = pd.MultiIndex.from_tuples(column_tuples_2)

tbody = table[1].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all(["th","td"])  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)

# Create the DataFrame with the extracted data and MultiIndex columns
table_2 = pd.DataFrame(data,columns=columns)


table_2

SECTION 2 : Sectoral View

                                                        Planned outlay  \
                                                                Scheme
                                                                  Tied
   Sl. No.                                       Sector             SC
0        1           Administrative & Technical Support              0
1        2                               Drinking water              0
2        3                                    Education              0
3        4                     GP Office Infrastructure              0
4        5                                       Health              0
5        6                             Land improvement              0
6        7              Maintenance of community system              0
7        8                                        Roads              0
8        9                        Rural electrification              0
9       10                                   Sanitation              0
10      11  Technical training and vocational education              0
11      12                  Women and child development              0
12   Total                                            0              0



                                 Untied
          ST   General     Total     SC        ST   General    Total
0          0    492636    492636      0         0   1581600  1581600
1          0   2800000   2800000      0         0    800000   800000
2          0    600000    600000      0         0   2300000  2300000
3          0         0         0      0         0   4100000  4100000
4          0         0         0      0         0   1530000  1530000
5          0   2100000   2100000      0         0    800000   800000
6          0    700000    700000      0         0   9060000  9060000
7          0  36800000  36800000      0         0         0        0
8          0         0         0      0         0    300000   300000
9          0   9250000   9250000      0         0   1250000  1250000
10         0         0         0      0         0    200000   200000
11         0         0         0      0         0    500000   500000
12  52742636  52742636         0      0  22421600  22421600     None

In [8]:
print("SECTION 3 : Scheme View")


column_tuples_3 = [
    ('','','Sl. No.'),
    ('','','Scheme Name'),
    ('','','Component Name'),
    ('Amount Allotted', 'Tied', 'SC'),
    ('Amount Allotted', 'Tied', 'ST'),
    ('Amount Allotted', 'Tied', 'General'),
    ('Amount Allotted', 'Tied', 'Total'),
    ('Amount Allotted', 'Untied', 'SC'),
    ('Amount Allotted', 'Untied', 'ST'),
    ('Amount Allotted', 'Untied', 'General'),
    ('Amount Allotted', 'Untied', 'Total'),
    ('Planned Outlay', 'Tied', 'SC'),
    ('Planned Outlay', 'Tied', 'ST'),
    ('Planned Outlay', 'Tied', 'General'),
    ('Planned Outlay', 'Tied', 'Total'),
    ('Planned Outlay', 'Untied', 'SC'),
    ('Planned Outlay', 'Untied', 'ST'),
    ('Planned Outlay', 'Untied', 'General'),
    ('Planned Outlay', 'Untied', 'Total'),
]

columns = pd.MultiIndex.from_tuples(column_tuples_3)

tbody = table[2].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)
# print(data)
# Create the DataFrame with the extracted data and MultiIndex columns
table_3 = pd.DataFrame(data,columns=columns)


table_3

SECTION 3 : Scheme View

                                                  \

  Sl. No.                            Scheme Name
0       1             Grant-In-Aid (Maintenance)
1       2  Grant-in-Aid (Sewerage & Sanitation )
2       3      Grant-in-Aid (Rural Road General)
3       4      Grant-in-Aid (Rural Water Supply)
4       5                              Own Funds
5       6              Grant-In-Aid (Honorarium)
6       7                 Grant-in-Aid (General)
7   Total                                      0

                                         Amount Allotted                      \
                                                    Tied
                          Component Name              SC        ST   General
0                         GIA Maitenance               0         0   1300000
1  Grant-in-Aid (Sewerage & Sanitation )               0         0   1700000
2               GIA (Rural Road General)               0         0  46450000
3              GIA (Rural (Water Supply)               0         0   2800000
4                              Own Funds               0         0         0
5                         GIA Honorarium               0         0    492636
6                          GIA (General)               0         0         0
7                                      0        52742636  52742636         0

                                                    Planned Outlay            \
               Untied                                         Tied
      Total        SC        ST   General     Total             SC        ST
0   1300000         0         0         0         0              0         0
1   1700000         0         0         0         0              0         0
2  46450000         0         0         0         0              0         0
3   2800000         0         0         0         0              0         0
4         0         0         0   3560000   3560000              0         0
5    492636         0         0         0         0              0         0
6         0         0         0  18861600  18861600              0         0
7         0  22421600  22421600         0         0       52742636  52742636


                         Untied
    General     Total        SC        ST   General     Total
0   1300000   1300000         0         0         0         0
1   1700000   1700000         0         0         0         0
2  46450000  46450000         0         0         0         0
3   2800000   2800000         0         0         0         0
4         0         0         0         0   3560000   3560000
5    492636    492636         0         0         0         0
6         0         0         0         0  18861600  18861600
7         0         0  22421600  22421600      None      None

In [9]:
print("SECTION 4 : Priority Wise Activity Details")


thead = table[3].find("thead")
columns = thead.find_all("th")
columns = [th.get_text(strip=True) for th in columns]

tbody = table[3].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)
# print(data)
# Create the DataFrame with the extracted data and MultiIndex columns
table_4 = pd.DataFrame(data,columns=columns)


table_4

SECTION 4 : Priority Wise Activity Details

,S.No.,Activity Code,Activity Name,Activity Description,Activity For,Sector,Mgnrega Activity category,Location of Asset,Estimated Cost,Total Duration,Scheme Name,General Fund,SC Fund,ST Fund
0,1,99105909,Benefit of Awas Yojana,Awareness campaign on PMAY scheme,All,Rural housing,N/A,N/A,APR 2024 - 2025,0,0,0,None,None
1,2,106231922,Awareness creation for self employment schemes...,Bringing more 30 households under ANINRLM unde...,All,Technical training and vocational education,N/A,N/A,JUN 2024 - 2025,0,0,0,None,None
2,3,106231987,Awareness creation for self employment schemes...,Awareness programme of DDUGKY and NIPUN scheme...,All,Technical training and vocational education,N/A,N/A,JUL 2024 - NOV 2024,0,0,0,None,None
3,4,106232129,Benefits to PDS beneficiaries,Distribution of Antyodaya anna yojana Cards to...,All,Public distribution system,N/A,N/A,SEP 2024 - DEC 2024,0,0,0,None,None
4,5,106233794,VPRP Demand for work under MGNREGA (Demand for...,VPRP Demand for work under MGNREGA,All,Poverty allevation programme,N/A,N/A,APR 2024 - 2025,0,0,0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,142,105303082,Wage/ Honorarium/ Remuneration to Staff,Honorarium to the elected PRIs representatives...,All,Administrative & Technical Support,N/A,N/A,492636,APR 2024 - 2025,Grant-In-Aid (Honorarium),492636,0,0
142,143,106233766,Awareness on inclusion of beneficiaries under ...,Awareness on Deen Dayal Updaya Gram yojana scheme,All,Social welfare,N/A,N/A,APR 2024 - OCT 2024,0,0,0,None,None
143,144,106233818,Awareness on inclusion of beneficiaries under ...,Awareness on Matsaya Yojana Scheme,All,Social welfare,N/A,N/A,APR 2024 - OCT 2024,0,0,0,None,None
144,145,106234030,Awareness on inclusion of beneficiaries under ...,Pashudhan Scheme,All,Social welfare,N/A,N/A,APR 2024 - JUL 2024,0,0,0,None,None
145,Total,75164236,75164236,0,0,None,None,None,None,None,None,None,None,None