Diglipur, Keralapuram

In [1]:
url = "https://egramswaraj.gov.in/webservice/approvedActionPlanExternalReport/234467/2024-2025"

In [2]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\ayan1\anaconda3\lib\site-packages (4.12.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: soupsieve>1.2 in c:\users\ayan1\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)

WARNING: There was an error checking the latest version of pip.

In [3]:
pip install requests

Requirement already satisfied: requests in c:\users\ayan1\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [4]:
import pandas as pd
import requests
import certifi
from bs4 import BeautifulSoup


req = requests.get(url, verify=certifi.where())

soup = BeautifulSoup(req.text,"lxml")

table = soup.find("table",class_="table table-striped table-bordered table-hover w-100")
headers = table.find("tr")

titles = [i.text.strip() for i in headers if i.text.strip() != '']

# Extract table rows
rows = table.find_all("tr", class_="tblRowB")

# Assuming there are multiple rows, we need to iterate over them
inputs = []
for row in rows:
    cells = row.find_all("th")
    input_row = [cell.text.strip() for cell in cells if cell.text.strip() != '']
    if input_row:  # Only append if the row is not empty
        inputs.append(input_row)
        
heading = soup.find("h3",class_="mainHeading heading_black collapsingdiv collapsingdiv-1 showing cursor-pointer mx-auto")
print(heading.text.strip())


# Create the DataFrame
table_0 = pd.DataFrame(data=inputs, columns=titles)
table_0

Approved Action Plan Report

,Plan Year,State,District Panchayat & Equivalent,Block Panchayat and Equivalent,Village Panchayat and Equivalent
0,2024-2025,Andaman And Nicobar Islands,North And Middle Andaman,Diglipur,Keralapuram

In [5]:
print("SECTION 1 : Plan Summary")

column_tuples_1 = [
    ('Total Amount Allotted (In Rs.)', 'Tied', 'SC'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'ST'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'General'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'Total'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'SC'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'ST'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'General'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'Total'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'SC'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'ST'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'General'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'Total'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'SC'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'ST'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'General'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'Total'),
]

columns = pd.MultiIndex.from_tuples(column_tuples_1)


table = soup.find_all("table",class_="table table-bordered table-striped table-hover")

rows = table[0].find_all("tr")

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells]  # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)

# Create the DataFrame with the extracted data and MultiIndex columns
table_1 = pd.DataFrame(data, columns=columns)


table_1

SECTION 1 : Plan Summary

  Total Amount Allotted (In Rs.)                                             \
                            Tied                        Untied
                              SC ST   General     Total     SC ST   General
0                              0  0  16250000  16250000      0  0  50675000

            Total Planned Outlay (In Rs.)                                   \
                                     Tied                        Untied
      Total                            SC ST   General     Total     SC ST
0  50675000                             0  0  16250000  16250000      0  0



    General     Total
0  53275000  53275000

In [6]:
print("SECTION 2 : Sectoral View")


column_tuples_2 = [
    ('','','','Sl. No.'),
    ('','','','Sector'),
    ('Planned outlay','Scheme', 'Tied', 'SC'),
    ('Planned outlay','Scheme', 'Tied', 'ST'),
    ('Planned outlay','Scheme', 'Tied', 'General'),
    ('Planned outlay','Scheme', 'Tied', 'Total'),
    ('Planned outlay','Scheme', 'Untied', 'SC'),
    ('Planned outlay','Scheme', 'Untied', 'ST'),
    ('Planned outlay','Scheme', 'Untied', 'General'),
    ('Planned outlay','Scheme', 'Untied', 'Total')
]

columns = pd.MultiIndex.from_tuples(column_tuples_2)

tbody = table[1].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all(["th","td"])  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)

# Create the DataFrame with the extracted data and MultiIndex columns
table_2 = pd.DataFrame(data,columns=columns)


table_2

SECTION 2 : Sectoral View

                                                        Planned outlay  \
                                                                Scheme
                                                                  Tied
   Sl. No.                                       Sector             SC
0        1           Administrative & Technical Support              0
1        2                               Drinking water              0
2        3                                    Education              0
3        4                     GP Office Infrastructure              0
4        5                                       Health              0
5        6                             Land improvement              0
6        7                                    Libraries              0
7        8              Maintenance of community system              0
8        9                                        Roads              0
9       10                        Rural electrification              0
10      11                                   Sanitation              0
11      12                               Social welfare              0
12      13  Technical training and vocational education              0
13      14                           Water Conservation              0
14   Total                                            0              0



                                 Untied
          ST   General     Total     SC        ST   General     Total
0          0    550000    550000      0         0    800000    800000
1          0   2000000   2000000      0         0     22000     22000
2          0         0         0      0         0    200000    200000
3          0         0         0      0         0   3000000   3000000
4          0         0         0      0         0   2809000   2809000
5          0    800000    800000      0         0   2205000   2205000
6          0         0         0      0         0    200000    200000
7          0         0         0      0         0  36551000  36551000
8          0   7800000   7800000      0         0   1150000   1150000
9          0         0         0      0         0   1100000   1100000
10         0  11600000  11600000      0         0   3150000   3150000
11         0         0         0      0         0     76000     76000
12         0         0         0      0         0     12000     12000
13         0         0         0      0         0   2000000   2000000
14  22750000  22750000         0      0  53275000  53275000      None

In [7]:
print("SECTION 3 : Scheme View")


column_tuples_3 = [
    ('','','Sl. No.'),
    ('','','Scheme Name'),
    ('','','Component Name'),
    ('Amount Allotted', 'Tied', 'SC'),
    ('Amount Allotted', 'Tied', 'ST'),
    ('Amount Allotted', 'Tied', 'General'),
    ('Amount Allotted', 'Tied', 'Total'),
    ('Amount Allotted', 'Untied', 'SC'),
    ('Amount Allotted', 'Untied', 'ST'),
    ('Amount Allotted', 'Untied', 'General'),
    ('Amount Allotted', 'Untied', 'Total'),
    ('Planned Outlay', 'Tied', 'SC'),
    ('Planned Outlay', 'Tied', 'ST'),
    ('Planned Outlay', 'Tied', 'General'),
    ('Planned Outlay', 'Tied', 'Total'),
    ('Planned Outlay', 'Untied', 'SC'),
    ('Planned Outlay', 'Untied', 'ST'),
    ('Planned Outlay', 'Untied', 'General'),
    ('Planned Outlay', 'Untied', 'Total'),
]

columns = pd.MultiIndex.from_tuples(column_tuples_3)

tbody = table[2].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)
# print(data)
# Create the DataFrame with the extracted data and MultiIndex columns
table_3 = pd.DataFrame(data,columns=columns)


table_3

SECTION 3 : Scheme View

                                                  \

  Sl. No.                            Scheme Name
0       1          Grant-In-Aid (Matching Grant)
1       2                 Grant-in-Aid (General)
2       3      Grant-in-Aid (Rural Road General)
3       4                              Own Funds
4       5  Grant-in-Aid (Sewerage & Sanitation )
5       6              Grant-In-Aid (Honorarium)
6       7      Grant-in-Aid (Rural Water Supply)
7   Total                                      0

                                         Amount Allotted                      \
                                                    Tied
                          Component Name              SC        ST   General
0                     GIA Matching Grant               0         0         0
1                          GIA (General)               0         0         0
2               GIA (Rural Road General)               0         0  10200000
3                              Own Funds               0         0         0
4  Grant-in-Aid (Sewerage & Sanitation )               0         0   3500000
5                         GIA Honorarium               0         0    550000
6              GIA (Rural (Water Supply)               0         0   2000000
7                                      0        16250000  16250000         0

                                                    Planned Outlay            \
               Untied                                         Tied
      Total        SC        ST   General     Total             SC        ST
0         0         0         0   4800000   4800000              0         0
1         0         0         0  45835000  45835000              0         0
2  10200000         0         0         0         0              0         0
3         0         0         0     40000     40000              0         0
4   3500000         0         0         0         0              0         0
5    550000         0         0         0         0              0         0
6   2000000         0         0         0         0              0         0
7         0  50675000  50675000         0         0       16250000  16250000


                         Untied
    General     Total        SC        ST   General     Total
0         0         0         0         0   4800000   4800000
1         0         0         0         0  48435000  48435000
2  10200000  10200000         0         0         0         0
3         0         0         0         0     40000     40000
4   3500000   3500000         0         0         0         0
5    550000    550000         0         0         0         0
6   2000000   2000000         0         0         0         0
7         0         0  53275000  53275000      None      None

In [8]:
print("SECTION 4 : Priority Wise Activity Details")


thead = table[3].find("thead")
columns = thead.find_all("th")
columns = [th.get_text(strip=True) for th in columns]

tbody = table[3].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)
# print(data)
# Create the DataFrame with the extracted data and MultiIndex columns
table_4 = pd.DataFrame(data,columns=columns)


table_4

SECTION 4 : Priority Wise Activity Details

,S.No.,Activity Code,Activity Name,Activity Description,Activity For,Sector,Mgnrega Activity category,Location of Asset,Estimated Cost,Total Duration,Scheme Name,General Fund,SC Fund,ST Fund
0,1,105922162,Awareness creation for self employment schemes...,Awareness campaign on Self Employment Schemes ...,All,Technical training and vocational education,N/A,N/A,AUG 2024 - 2025,0,0,0,None,None
1,2,105923853,Awarness creation on FPO/ Creation of FPO / Pr...,Awareness Campaign on Creation of FPOs under G...,All,Poverty allevation programme,N/A,N/A,AUG 2024 - 2025,0,0,0,None,None
2,3,106241633,IEC / awareness campaign on social protection ...,Awareness campaign on Schemes related to NSAP ...,All,Social welfare,N/A,N/A,AUG 2024 - 2025,0,0,0,None,None
3,4,106241718,Awareness creation for self employment schemes...,Awareness campaign on NRLM Schemes under Gram ...,All,Technical training and vocational education,N/A,N/A,AUG 2024 - 2025,0,0,0,None,None
4,5,106245280,Awareness creation for self employment schemes...,Awareness campaign on Matasya Yojana under Gra...,All,Technical training and vocational education,N/A,N/A,AUG 2024 - 2025,0,0,0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,173,106318668,Awareness on inclusion of beneficiaries under ...,Awareness campaign on PMKSY,All,Social welfare,N/A,N/A,AUG 2024 - 2025,0,0,0,None,None
173,174,106318676,Awareness on inclusion of beneficiaries under ...,Awareness campaign on PMUY,All,Social welfare,N/A,N/A,AUG 2024 - 2025,0,0,0,None,None
174,175,105924815,Access to Maternal Benefits,Awareness Campaign on Schemes Related to Women...,All,Women and child development,N/A,N/A,AUG 2024 - 2025,0,0,0,None,None
175,176,106277777,VPRP SDP: Violence against women and children ...,Awareness on Violence against women and children,All,Women and child development,N/A,N/A,AUG 2024 - 2025,0,0,0,None,None
176,Total,76025000,76025000,0,0,None,None,None,None,None,None,None,None,None