Diglipur, Kishorinagar

In [1]:
url = "https://egramswaraj.gov.in/webservice/approvedActionPlanExternalReport/234468/2024-2025"

In [2]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\ayan1\anaconda3\lib\site-packages (4.12.2)Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

Requirement already satisfied: soupsieve>1.2 in c:\users\ayan1\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)

In [3]:
pip install requests

Requirement already satisfied: requests in c:\users\ayan1\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [4]:
import pandas as pd
import requests
import certifi
from bs4 import BeautifulSoup


req = requests.get(url, verify=certifi.where())

soup = BeautifulSoup(req.text,"lxml")

table = soup.find("table",class_="table table-striped table-bordered table-hover w-100")
headers = table.find("tr")

titles = [i.text.strip() for i in headers if i.text.strip() != '']

# Extract table rows
rows = table.find_all("tr", class_="tblRowB")

# Assuming there are multiple rows, we need to iterate over them
inputs = []
for row in rows:
    cells = row.find_all("th")
    input_row = [cell.text.strip() for cell in cells if cell.text.strip() != '']
    if input_row:  # Only append if the row is not empty
        inputs.append(input_row)
        
heading = soup.find("h3",class_="mainHeading heading_black collapsingdiv collapsingdiv-1 showing cursor-pointer mx-auto")
print(heading.text.strip())


# Create the DataFrame
table_0 = pd.DataFrame(data=inputs, columns=titles)
table_0

Approved Action Plan Report

,Plan Year,State,District Panchayat & Equivalent,Block Panchayat and Equivalent,Village Panchayat and Equivalent
0,2024-2025,Andaman And Nicobar Islands,North And Middle Andaman,Diglipur,Kishorinagar

In [5]:
print("SECTION 1 : Plan Summary")

column_tuples_1 = [
    ('Total Amount Allotted (In Rs.)', 'Tied', 'SC'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'ST'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'General'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'Total'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'SC'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'ST'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'General'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'Total'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'SC'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'ST'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'General'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'Total'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'SC'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'ST'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'General'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'Total'),
]

columns = pd.MultiIndex.from_tuples(column_tuples_1)


table = soup.find_all("table",class_="table table-bordered table-striped table-hover")

rows = table[0].find_all("tr")

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells]  # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)

# Create the DataFrame with the extracted data and MultiIndex columns
table_1 = pd.DataFrame(data, columns=columns)


table_1

SECTION 1 : Plan Summary

  Total Amount Allotted (In Rs.)                                             \
                            Tied                        Untied
                              SC ST   General     Total     SC ST   General
0                              0  0  59899608  59899608      0  0  57227850

            Total Planned Outlay (In Rs.)                                   \
                                     Tied                        Untied
      Total                            SC ST   General     Total     SC ST
0  57227850                             0  0  59899608  59899608      0  0



    General     Total
0  57227850  57227850

In [6]:
print("SECTION 2 : Sectoral View")


column_tuples_2 = [
    ('','','','Sl. No.'),
    ('','','','Sector'),
    ('Planned outlay','Scheme', 'Tied', 'SC'),
    ('Planned outlay','Scheme', 'Tied', 'ST'),
    ('Planned outlay','Scheme', 'Tied', 'General'),
    ('Planned outlay','Scheme', 'Tied', 'Total'),
    ('Planned outlay','Scheme', 'Untied', 'SC'),
    ('Planned outlay','Scheme', 'Untied', 'ST'),
    ('Planned outlay','Scheme', 'Untied', 'General'),
    ('Planned outlay','Scheme', 'Untied', 'Total')
]

columns = pd.MultiIndex.from_tuples(column_tuples_2)

tbody = table[1].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all(["th","td"])  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)

# Create the DataFrame with the extracted data and MultiIndex columns
table_2 = pd.DataFrame(data,columns=columns)


table_2

SECTION 2 : Sectoral View

                                                        Planned outlay  \
                                                                Scheme
                                                                  Tied
   Sl. No.                                       Sector             SC
0        1           Administrative & Technical Support              0
1        2                                  Agriculture              0
2        3                               Drinking water              0
3        4                                    Education              0
4        5                     GP Office Infrastructure              0
5        6                                       Health              0
6        7                             Land improvement              0
7        8              Maintenance of community system              0
8        9              Non-conventional energy sources              0
9       10                 Poverty allevation programme              0
10      11                                        Roads              0
11      12                        Rural electrification              0
12      13                                   Sanitation              0
13      14                               Social welfare              0
14      15  Technical training and vocational education              0
15      16                  Women and child development              0
16   Total                                            0              0



                                 Untied
          ST   General     Total     SC        ST   General     Total
0          0    424608    424608      0         0   1070000   1070000
1          0         0         0      0         0      9000      9000
2          0    800000    800000      0         0     60000     60000
3          0         0         0      0         0  11236850  11236850
4          0         0         0      0         0    500000    500000
5          0         0         0      0         0   1015000   1015000
6          0   2100000   2100000      0         0         0         0
7          0    300000    300000      0         0  25693000  25693000
8          0         0         0      0         0     50000     50000
9          0         0         0      0         0      5000      5000
10         0  55000000  55000000      0         0   7700000   7700000
11         0         0         0      0         0   1290000   1290000
12         0   1275000   1275000      0         0    980000    980000
13         0         0         0      0         0     90400     90400
14         0         0         0      0         0      1000      1000
15         0         0         0      0         0   7527600   7527600
16  59899608  59899608         0      0  57227850  57227850      None

In [7]:
print("SECTION 3 : Scheme View")


column_tuples_3 = [
    ('','','Sl. No.'),
    ('','','Scheme Name'),
    ('','','Component Name'),
    ('Amount Allotted', 'Tied', 'SC'),
    ('Amount Allotted', 'Tied', 'ST'),
    ('Amount Allotted', 'Tied', 'General'),
    ('Amount Allotted', 'Tied', 'Total'),
    ('Amount Allotted', 'Untied', 'SC'),
    ('Amount Allotted', 'Untied', 'ST'),
    ('Amount Allotted', 'Untied', 'General'),
    ('Amount Allotted', 'Untied', 'Total'),
    ('Planned Outlay', 'Tied', 'SC'),
    ('Planned Outlay', 'Tied', 'ST'),
    ('Planned Outlay', 'Tied', 'General'),
    ('Planned Outlay', 'Tied', 'Total'),
    ('Planned Outlay', 'Untied', 'SC'),
    ('Planned Outlay', 'Untied', 'ST'),
    ('Planned Outlay', 'Untied', 'General'),
    ('Planned Outlay', 'Untied', 'Total'),
]

columns = pd.MultiIndex.from_tuples(column_tuples_3)

tbody = table[2].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)
# print(data)
# Create the DataFrame with the extracted data and MultiIndex columns
table_3 = pd.DataFrame(data,columns=columns)


table_3

SECTION 3 : Scheme View

                                                  \

  Sl. No.                            Scheme Name
0       1                              Own Funds
1       2              Grant-In-Aid (Honorarium)
2       3                 Grant-in-Aid (General)
3       4  Grant-in-Aid (Sewerage & Sanitation )
4       5      Grant-in-Aid (Rural Water Supply)
5       6  Integrated Child Development Services
6       7             Grant-In-Aid (Maintenance)
7       8      Grant-in-Aid (Rural Road General)
8   Total                                      0

                                         Amount Allotted                      \
                                                    Tied
                          Component Name              SC        ST   General
0                              Own Funds               0         0         0
1                         GIA Honorarium               0         0    424608
2                          GIA (General)               0         0         0
3  Grant-in-Aid (Sewerage & Sanitation )               0         0   1275000
4              GIA (Rural (Water Supply)               0         0    800000
5  Integrated Child Development Services               0         0         0
6                         GIA Maitenance               0         0    300000
7               GIA (Rural Road General)               0         0  57100000
8                                      0        59899608  59899608         0

                                                    Planned Outlay            \
               Untied                                         Tied
      Total        SC        ST   General     Total             SC        ST
0         0         0         0   3655400   3655400              0         0
1    424608         0         0         0         0              0         0
2         0         0         0  53067450  53067450              0         0
3   1275000         0         0         0         0              0         0
4    800000         0         0         0         0              0         0
5         0         0         0    505000    505000              0         0
6    300000         0         0         0         0              0         0
7  57100000         0         0         0         0              0         0
8         0  57227850  57227850         0         0       59899608  59899608


                         Untied
    General     Total        SC        ST   General     Total
0         0         0         0         0   3655400   3655400
1    424608    424608         0         0         0         0
2         0         0         0         0  53067450  53067450
3   1275000   1275000         0         0         0         0
4    800000    800000         0         0         0         0
5         0         0         0         0    505000    505000
6    300000    300000         0         0         0         0
7  57100000  57100000         0         0         0         0
8         0         0  57227850  57227850      None      None

In [8]:
print("SECTION 4 : Priority Wise Activity Details")


thead = table[3].find("thead")
columns = thead.find_all("th")
columns = [th.get_text(strip=True) for th in columns]

tbody = table[3].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)
# print(data)
# Create the DataFrame with the extracted data and MultiIndex columns
table_4 = pd.DataFrame(data,columns=columns)


table_4

SECTION 4 : Priority Wise Activity Details

,S.No.,Activity Code,Activity Name,Activity Description,Activity For,Sector,Mgnrega Activity category,Location of Asset,Estimated Cost,Total Duration,Scheme Name,General Fund,SC Fund,ST Fund
0,1,92102032,Awareness creation for self employment schemes...,Various training for SHGs members for Livelihood,All,Technical training and vocational education,N/A,N/A,1000,APR 2024 - APR 2024,Own Funds,1000,0,0
1,2,92103973,Creation of SHGs in GPs,Creation of SHGs Groups in GP Kishorinagar,All,Poverty allevation programme,N/A,N/A,APR 2024 - 2025,0,0,0,None,None
2,3,92107873,VPRP demand: Support for self employment under...,Kitchen garden Nutri Garden Animal in GP Kisho...,All,Agriculture,N/A,Kishori Nagar (Rv),9000,APR 2024 - 2025,Own Funds,9000,0,0
3,4,92110567,IEC / awareness campaign on social protection ...,Various training for SHGs members for livelihood,All,Social welfare,N/A,N/A,APR 2024 - 2025,0,0,0,None,None
4,5,104755715,Camp for Inclusion of name of beneficiary in P...,Awareness program on Antodaya Anna Yojna under...,All,Public distribution system,N/A,N/A,APR 2024 - 2025,0,0,0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,165,104766082,Access to Maternal Benefits,Awareness program on Pradhan Mantri Matru Vand...,All,Women and child development,N/A,N/A,APR 2024 - 2025,0,0,0,None,None
165,166,106221468,Awareness campaign for Mahila Sabha/Conduct of...,Awareness camp in Mahila Sabha under GP Kishor...,All,Women and child development,N/A,N/A,7190000,APR 2024 - MAY 2024,Grant-in-Aid (General),7190000,0,0
166,167,106221535,Awareness raising on Mission Shakti Schemes/ot...,Awareness camp on Shakti Schemes under GP Kish...,All,Women and child development,N/A,N/A,3600,APR 2024 - MAY 2024,Grant-in-Aid (General),3600,0,0
167,168,106231327,Construction of separate toilets for girls,Construction of Separate toilets for girls,All,Education,N/A,Kishori Nagar (Rv),9905850,MAY 2024 - AUG 2024,Grant-in-Aid (General),9905850,0,0
168,Total,117127458,117127458,0,0,None,None,None,None,None,None,None,None,None