Diglipur, Madhupur

In [1]:
url = "https://egramswaraj.gov.in/webservice/approvedActionPlanExternalReport/234470/2024-2025"

In [2]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\ayan1\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\ayan1\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [3]:
pip install requests

Requirement already satisfied: requests in c:\users\ayan1\anaconda3\lib\site-packages (2.31.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2024.2.2)

WARNING: There was an error checking the latest version of pip.

In [4]:
import pandas as pd
import requests
import certifi
from bs4 import BeautifulSoup


req = requests.get(url, verify=certifi.where())

soup = BeautifulSoup(req.text,"lxml")

table = soup.find("table",class_="table table-striped table-bordered table-hover w-100")
headers = table.find("tr")

titles = [i.text.strip() for i in headers if i.text.strip() != '']

# Extract table rows
rows = table.find_all("tr", class_="tblRowB")

# Assuming there are multiple rows, we need to iterate over them
inputs = []
for row in rows:
    cells = row.find_all("th")
    input_row = [cell.text.strip() for cell in cells if cell.text.strip() != '']
    if input_row:  # Only append if the row is not empty
        inputs.append(input_row)
        
heading = soup.find("h3",class_="mainHeading heading_black collapsingdiv collapsingdiv-1 showing cursor-pointer mx-auto")
print(heading.text.strip())


# Create the DataFrame
table_0 = pd.DataFrame(data=inputs, columns=titles)
table_0

Approved Action Plan Report

,Plan Year,State,District Panchayat & Equivalent,Block Panchayat and Equivalent,Village Panchayat and Equivalent
0,2024-2025,Andaman And Nicobar Islands,North And Middle Andaman,Diglipur,Madhupur

In [5]:
print("SECTION 1 : Plan Summary")

column_tuples_1 = [
    ('Total Amount Allotted (In Rs.)', 'Tied', 'SC'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'ST'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'General'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'Total'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'SC'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'ST'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'General'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'Total'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'SC'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'ST'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'General'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'Total'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'SC'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'ST'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'General'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'Total'),
]

columns = pd.MultiIndex.from_tuples(column_tuples_1)


table = soup.find_all("table",class_="table table-bordered table-striped table-hover")

rows = table[0].find_all("tr")

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells]  # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)

# Create the DataFrame with the extracted data and MultiIndex columns
table_1 = pd.DataFrame(data, columns=columns)


table_1

SECTION 1 : Plan Summary

  Total Amount Allotted (In Rs.)                                             \
                            Tied                        Untied
                              SC ST   General     Total     SC ST   General
0                              0  0  21286092  21286092      0  0  17185250

            Total Planned Outlay (In Rs.)                                   \
                                     Tied                        Untied
      Total                            SC ST   General     Total     SC ST
0  17185250                             0  0  21286092  21286092      0  0



    General     Total
0  17185250  17185250

In [6]:
print("SECTION 2 : Sectoral View")


column_tuples_2 = [
    ('','','','Sl. No.'),
    ('','','','Sector'),
    ('Planned outlay','Scheme', 'Tied', 'SC'),
    ('Planned outlay','Scheme', 'Tied', 'ST'),
    ('Planned outlay','Scheme', 'Tied', 'General'),
    ('Planned outlay','Scheme', 'Tied', 'Total'),
    ('Planned outlay','Scheme', 'Untied', 'SC'),
    ('Planned outlay','Scheme', 'Untied', 'ST'),
    ('Planned outlay','Scheme', 'Untied', 'General'),
    ('Planned outlay','Scheme', 'Untied', 'Total')
]

columns = pd.MultiIndex.from_tuples(column_tuples_2)

tbody = table[1].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all(["th","td"])  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)

# Create the DataFrame with the extracted data and MultiIndex columns
table_2 = pd.DataFrame(data,columns=columns)


table_2

SECTION 2 : Sectoral View

                                              Planned outlay            \
                                                      Scheme
                                                        Tied
  Sl. No.                              Sector             SC        ST
0       1  Administrative & Technical Support              0         0
1       2                      Drinking water              0         0
2       3                              Health              0         0
3       4     Maintenance of community system              0         0
4       5                               Roads              0         0
5       6                          Sanitation              0         0
6       7                      Social welfare              0         0
7       8         Women and child development              0         0
8   Total                                   0              0  21286092



                      Untied
    General     Total     SC        ST   General    Total
0    577092    577092      0         0    600000   600000
1     50000     50000      0         0   2705250  2705250
2     50000     50000      0         0   5900000  5900000
3   1000000   1000000      0         0   3995000  3995000
4  18409000  18409000      0         0    850000   850000
5   1200000   1200000      0         0   3785000  3785000
6         0         0      0         0    100000   100000
7         0         0      0         0   1050000  1050000
8  21286092         0      0  18985250  18985250     None

In [7]:
print("SECTION 3 : Scheme View")


column_tuples_3 = [
    ('','','Sl. No.'),
    ('','','Scheme Name'),
    ('','','Component Name'),
    ('Amount Allotted', 'Tied', 'SC'),
    ('Amount Allotted', 'Tied', 'ST'),
    ('Amount Allotted', 'Tied', 'General'),
    ('Amount Allotted', 'Tied', 'Total'),
    ('Amount Allotted', 'Untied', 'SC'),
    ('Amount Allotted', 'Untied', 'ST'),
    ('Amount Allotted', 'Untied', 'General'),
    ('Amount Allotted', 'Untied', 'Total'),
    ('Planned Outlay', 'Tied', 'SC'),
    ('Planned Outlay', 'Tied', 'ST'),
    ('Planned Outlay', 'Tied', 'General'),
    ('Planned Outlay', 'Tied', 'Total'),
    ('Planned Outlay', 'Untied', 'SC'),
    ('Planned Outlay', 'Untied', 'ST'),
    ('Planned Outlay', 'Untied', 'General'),
    ('Planned Outlay', 'Untied', 'Total'),
]

columns = pd.MultiIndex.from_tuples(column_tuples_3)

tbody = table[2].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)
# print(data)
# Create the DataFrame with the extracted data and MultiIndex columns
table_3 = pd.DataFrame(data,columns=columns)


table_3

SECTION 3 : Scheme View

                                                  \

  Sl. No.                            Scheme Name
0       1                 Grant-in-Aid (General)
1       2                              Own Funds
2       3             Grant-In-Aid (Maintenance)
3       4  Grant-in-Aid (Sewerage & Sanitation )
4       5      Grant-in-Aid (Rural Road General)
5       6              Grant-In-Aid (Honorarium)
6   Total                                      0

                                         Amount Allotted                      \
                                                    Tied
                          Component Name              SC        ST   General
0                          GIA (General)               0         0         0
1                              Own Funds               0         0         0
2                         GIA Maitenance               0         0   1050000
3  Grant-in-Aid (Sewerage & Sanitation )               0         0   1250000
4               GIA (Rural Road General)               0         0  18409000
5                         GIA Honorarium               0         0    577092
6                                      0        21286092  21286092         0

                                                    Planned Outlay            \
               Untied                                         Tied
      Total        SC        ST   General     Total             SC        ST
0         0         0         0  13500250  13500250              0         0
1         0         0         0   3685000   3685000              0         0
2   1050000         0         0         0         0              0         0
3   1250000         0         0         0         0              0         0
4  18409000         0         0         0         0              0         0
5    577092         0         0         0         0              0         0
6         0  17185250  17185250         0         0       21286092  21286092


                         Untied
    General     Total        SC        ST   General     Total
0         0         0         0         0  13500250  13500250
1         0         0         0         0   3685000   3685000
2   1050000   1050000         0         0         0         0
3   1250000   1250000         0         0         0         0
4  18409000  18409000         0         0         0         0
5    577092    577092         0         0         0         0
6         0         0  17185250  17185250      None      None

In [8]:
print("SECTION 4 : Priority Wise Activity Details")


thead = table[3].find("thead")
columns = thead.find_all("th")
columns = [th.get_text(strip=True) for th in columns]

tbody = table[3].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)
# print(data)
# Create the DataFrame with the extracted data and MultiIndex columns
table_4 = pd.DataFrame(data,columns=columns)


table_4

SECTION 4 : Priority Wise Activity Details

,S.No.,Activity Code,Activity Name,Activity Description,Activity For,Sector,Mgnrega Activity category,Location of Asset,Estimated Cost,Total Duration,Scheme Name,General Fund,SC Fund,ST Fund
0,1,106233511,IEC / awareness campaign on social protection ...,Awareness campaign on DDUGKY under GP Madhupur,All,Social welfare,N/A,N/A,OCT 2024 - 2025,0,0,0,None,None
1,2,106233531,Awareness creation for self employment schemes...,IEC Cum Awareness creation on DDUGKY under GP ...,All,Technical training and vocational education,N/A,N/A,SEP 2024 - 2025,0,0,0,None,None
2,3,106233597,Camp for inclusion of name in the list of soci...,Camp on Inclusion on name in Job card of MGNRE...,All,Social welfare,N/A,N/A,JUL 2024 - 2025,0,0,0,None,None
3,4,106233623,Camp for inclusion of name in the list of soci...,Awareness cum Camp on benefits on Matsaya Yoja...,All,Social welfare,N/A,N/A,SEP 2024 - 2025,0,0,0,None,None
4,5,106233701,IEC / awareness campaign on social protection ...,Awareness cum camp on production of Manure und...,All,Social welfare,N/A,N/A,NOV 2024 - 2025,0,0,0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,107,97901561,Electricity Connection/ Electricity bill payme...,Office expenses payment of Electricity bill of...,All,Maintenance of community system,N/A,N/A,500000,APR 2024 - 2025,Grant-in-Aid (General),500000,0,0
107,108,97902417,Internet Connection in Gram Panchayat Bhawan,Payment of Telephone Broadband charges under G...,All,Maintenance of community system,N/A,Madhupur (Rv),50000,APR 2024 - 2025,Grant-in-Aid (General),50000,0,0
108,109,98054413,Wage/ Honorarium/ Remuneration to Staff,Honorarium Payment for elected PRI members und...,All,Administrative & Technical Support,N/A,N/A,577092,APR 2024 - 2025,Grant-In-Aid (Honorarium),577092,0,0
109,110,98971541,Organising of Gram Sabha/ Ward Sabha/ Mahila S...,"Organising of Gram Sabha, Ward Sabha, Mahila S...",All,Social welfare,N/A,N/A,100000,APR 2024 - MAY 2024,Grant-in-Aid (General),100000,0,0
110,Total,40271342,40271342,0,0,None,None,None,None,None,None,None,None,None